@import "tailwindcss";
/* Remove number input arrows/spinners in Chrome, Safari, Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove number input arrows/spinners in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

